<div id="<%= dom_id parking_session %>">
  <p>
    <strong>Vehicle:</strong>
    <%= parking_session.vehicle_id %>
  </p>

  <p>
    <strong>Parking space:</strong>
    <%= parking_session.parking_space_id %>
  </p>

  <p>
    <strong>Base fee:</strong>
    <%= parking_session.base_fee %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= parking_session.fee %>
  </p>

  <p>
    <strong>Total fee:</strong>
    <%= parking_session.total_fee %>
  </p>

</div>
