<p style="color: green"><%= notice %></p>

<%= render @parking_session %>

<div>
  <%= link_to "Edit this parking session", edit_parking_session_path(@parking_session) %> |
  <%= link_to "Back to parking sessions", parking_sessions_path %>

  <%= button_to "Destroy this parking session", @parking_session, method: :delete %>
</div>
