<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicle size:</strong>
    <%= vehicle.vehicle_size %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vehicle.parked %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= vehicle.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= vehicle.end_at %>
  </p>

</div>
